body {
    background: linear-gradient(to bottom right, #4a90e2, #50e3c2);
    transition: background-image 0.5s ease-in-out;
    min-height: 100vh;
}


.container {
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    padding: 20px;
    border-radius: 10px;
}


.col{
    border: #4a90e2;
}

#weatherIcon:empty {
    display: none;
}
